<div class="content-div">

  <h1><%= @task.name %></h1>

  <div class="details">
    <p><%= @task.details %></p>
  </div>

  <% if @task.completed %>
    <p> <i class="fa fa-check-square-o" aria-hidden="true"></i> This task's done </p>
  <% else %>

    <p>This task hasn't been done yet</p>
  <% end %>

</div>

<div class="link-div">
    <p> <i class="fa fa-refresh" aria-hidden="true"></i> <%= link_to "Back to list", tasks_path %></p>
    <p> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= link_to "Edit", edit_path %></p>
</div>
